* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #d64161;
    --secondary: #feb236;
    --neutral: #fefefe;
    --dark: #222222;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}


.container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: rgb(34,34,34);
    background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(214,65,97,1) 100%);
}

.header {
    /* padding: 5px;
    height: 60px;
    width: 100%; */
}

.header__title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    padding: 10px 5px;
    text-align: center;
    color: var(--neutral);
    text-transform: uppercase;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    position: relative;
    min-height: 240px;
    height: auto;
    width: 230px;
    padding: 5px;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255, 0.5);
    box-shadow: 10px 10px 30px 6px rgba(0,0,0,0.10);
    padding: 10px;
    margin: 5px;
    color: var(--neutral);
}

.card__number {
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 3rem;
    font-weight: bold;
    
}

.card__title {
    width: 180px;
    position: absolute;
    top: 10px;
    left: -5px;
    font-size: 1.4rem;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 

}

.card__content {
    margin-top: 35px;
    padding-bottom: 80px;
}

.card__content p {
    display: inline-block;
    width: calc(100% - 40px);
    font-weight: 100;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.card__content p span {
    color: var(--primary);
    font-weight: 300;
}

.card__content_picture {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 80px;
    height: 80px;
    /* background-image: url('https://randomuser.me/api/portraits/med/men/36.jpg'); */
    background-size: contain;
    background-color: #cccccc;
    margin-top: 5px;
    box-shadow: 3px 3px 0px 0px rgba(255,255,255, 1); 
}


.card__number:empty {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    animation: opacityAnimation 2s infinite;

}

.card__title:empty {
    width: 180px;
    height: 30px;
    background-color: #ddd;
    animation: opacityAnimation 2s infinite;
} 

.card__content p span:empty {
    display: inline-block;
    position: absolute;
    width: 40%;
    height: 18px;
    background-color: #ddd;
    animation: opacityAnimation 2s infinite;
}

.card__content_picture.loading {
    background-color: #ddd;
    animation: opacityAnimation 2s infinite;
}

@keyframes opacityAnimation {
    0%   { 
        opacity: 0.6;
    }
    50% { 
        opacity: 1; 
    }
    100% { 
        opacity: 0.6; 
    }
}

.error {
    width: 100%;
    text-align: center;
    background-color: var(--primary);
    color: var(--neutral);
    margin: 10px 0;
    padding: 5px;
}